body {
  color: #333;
  font-family: Helvetica, sans-serif;
  margin: 0 10%;
  line-height: 22px;
}

a {
  color: #f64e54;
}

small {
  display: block;
  color: grey;
  margin-top: 36px;
  margin-bottom: 36px;
}

ul ul {
  margin-bottom: 8px;
}

.manifest {
  margin-bottom: 32px;
}

.manifest p {
  font-weight: bold;
  font-size: 32px;
  margin: 0;
  line-height: 38px;
  letter-spacing: -0.01em;
}

.logo {
  width: 195px;
  height: 178px;
  display: block;
  margin: 36px 0 36px 10%;
}

.variations {
  margin-top: 36px;
  margn-bottom: 36px;
  max-width: 100%;
}

.instructions small {
  margin: 0;
}

@media (max-width: 600px) {
  .manifest {
    margin-bottom: -6px;
  }
  
  .manifest p {
    font-size: 22px;
    line-height: 28px;
    padding-bottom: 8px;
  }
  
  h2 {
    font-size: 22px;
    line-height: 28px;
  }
}